<html>
<head>
  <title></title>
</head>
<body>
<% for album in @albums %> 
	<%=link_to(album.title, :controller => 'public', :action => 'show', :id => album.id) %>

	<%= album.artist %> <br>
<% end %>
<br>
<%=link_to('New album', :action => 'new')%>
</body>
</html>
