<!DOCTYPE html>
<html>
<head>
<title><%= @text %></title>
</head>
<body>
	<h1>hello world !!</h1>
	<p><i> <%= @text %> </i></p>
<%=link_to('Say Goodbye', :controller =>'say',:action=>'goodbye')%><br>
<a href="/say/goodbye">Say goodbye to world!</a>

</body>
</html>
