<html>
<head>
<title>Barnyard noises</title>
</head>
<body>
<p>The <%=@first_animal.name%> says <% @first_animal.noise%></p>
<p>The <%=@second_animal.name%> says <% @second_animal.noise%></p>
<%=debug(@first_animal)%>
</body>
</html>
