<html>
<head>
	<title>Barnyard noises</title>
</head>
<body>
	<p><% for animal in @barnyard -%></p>
	<p>The <%= animal.name%> says <%=animal.noise %></p>
	<p><% end -%></p>
<%= debug(@barnyard)%>
</body>
</html>
